export DOCKER_BUILDKIT=0
export AWS_REGION=us-east-2
export AWS_DEFAULT_REGION=us-east-2
export AWS_PROFILE=default
export EVENTS_TABLE_NAME=MothershipEventsTable
export FILTERED_TITLES_TABLE_NAME=MothershipFilteredTitlesTable